@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"; 

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}

.navbar {
  background-color:#f6911ed3
}
.button.is-info {
  background-color: #ef6b3b;
}
.navbar-link:not(.is-arrowless)::after {
  border-color: #ef6b3b;
}

.navbar-item, .navbar-link {
  color: #ffffff;
}

.footer {
  background-color: #f6911ed3;
  padding: 3rem 1.5rem;
  display: flex;
  justify-content: center;
}

.footer li {
  font-size: 16px;
  margin: 0 10px;
  color: #fff;
  cursor: pointer;
}

.footer li:first-child {
  list-style-type: none;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.pagination-button {
  display: inline-block;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color:#f6911ed3;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
  


}
button:hover {
  border-color: #ef6b3b;
  background-color: #ef6b3b;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}